<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div style="padding-top:20px;"></div>
<div class="d-flex justify-content-center align-items-center container">
    <div class="row"><h2 >Rejestracja</h2></div>
</div>

<div class="d-flex justify-content-center align-items-center container">
<form action="/signUp" method="post" th:object="${user}">
    <div class="form-group">
        <input th:field="${user.login}" type="text" placeholder="Podaj Login">
    </div>
    <div class="form-group">
        <input th:field="${user.haslo}" type="password" placeholder="Podaj Hasło">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>



</form>
</div>
</body>
</html>